* {
  box-sizing: border-box;
}

#niceHeader{
  font-family: verdana;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 65px;
  letter-spacing: -3px;
  word-spacing: 6px;
  color: rgba(0, 247, 255, 0.65);
  background-color: rgb(84, 84, 0, 0);
  text-shadow: rgba(251, 138, 255, 0.56) 7px 0px 3px;
}

#niceSubHeader{
  font-family: verdana;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 25px;
  letter-spacing: -3px;
  word-spacing: 6px;
  color: rgba(0, 247, 255, 0.65);
  background-color: rgb(84, 84, 0, 0);
  text-shadow: rgba(251, 138, 255, 0.56) 7px 0px 3px;
}

.niceNumberArt{
  font-family: verdana;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 20px;
  letter-spacing: -3px;
  word-spacing: 6px;
  color: rgba(0, 247, 255, 0.65);
  background-color: rgb(84, 84, 0, 0);
  text-shadow: rgba(251, 138, 255, 0.56) 7px 0px 3px;
}

.coolButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: copy;
  background-image: linear-gradient(180deg, rgb(23, 5, 130), rgb(38, 12, 194));
}

body {
  margin: 0;
  background-image: url("photoToRender/CometWebBackground.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(52,34,138,1), rgba(35,22,99,0));
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes flip-horizontal {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  85% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}


.homeButton{
  position: fixed;
  bottom: 8px;
  right: 16px;
  width: 48px;
  height: 50px;
  background-color: rgba(34, 9, 189,0.5)
}

/* Darker background on mouse-over */
.homeButton:hover {
  animation-name: flip-horizontal;
  animation-duration: 4s;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
      transform: scale(1);
  }
}

/* Change color on hover */
.sidenav a:hover {
  background-image: linear-gradient(to right, rgba(106, 90, 205,1), rgba(106, 90, 205, 0));
  color: white;
  opacity: 0.8;
  animation-name: pulsate-fwd;
  animation-duration: 0.4s;
}

/* Style the content */
.content {
  color: white;
  margin-left: 150px;
  padding-left: 20px;
  animation-name: tracking-in-contract;
  animation-duration: 1.5s;
}

.coolButton {border-radius: 5%;}
.homeButton {border-radius: 10%;}