<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comet Creators</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <link rel="icon" href="{{ user_image }}">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
<div class="sidenav">
  <a href="https://cometbot.emmanuelch.repl.co/features">Features</a>
  <a href="https://cometbot.emmanuelch.repl.co/versions">Versions</a>
  <a href="https://cometbot.emmanuelch.repl.co/creators">Creators ⊛</a>
  <a href="https://cometbot.emmanuelch.repl.co/invite">Invite</a>
</div>
<div style="background-image: {{ user_image }};" class="content">
  <h1 style="font-family:verdana" title="1.0.0 Luna" id="niceHeader">Creators</h1>
  <p style="font-family:verdana">Emmanuel Castillo (EmmanuelCastilloHernandez)<br></p>
  <h2 style="font-family:verdana" title="1.0.0 Luna" id="niceSubHeader">Contributed to by:</h2>
  <p2 style="font-family:verdana">Garen Gevorgyan (Warlex#7860)<br>Avery Streb (CobaltTS#1441)<br>Marlon Streb<br>Charleze Gregorio (charboo#0017)</p>
  <a class="github-button" href="https://github.com/EmmanuelCastilloHernandez/CometBot/subscription" data-color-scheme="no-preference: dark_dimmed; light: dark_dimmed; dark: dark_dimmed;" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch EmmanuelCastilloHernandez/CometBot on GitHub">Watch</a>
</div>
<a href="https://cometbot.emmanuelch.repl.co/" class="homeButton"><i class="fa fa-home" style="font-size:50px;color:white;"></i></a>
</body>
</html>