<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invite Comet</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <link rel="icon" href="{{ user_image }}">
</head>
<body>
<div class="sidenav">
  <a href="https://cometbot.emmanuelch.repl.co/features">Features</a>
  <a href="https://cometbot.emmanuelch.repl.co/versions">Versions </a>
  <a href="https://cometbot.emmanuelch.repl.co/creators">Creators </a>
  <a href="https://cometbot.emmanuelch.repl.co/invite">Invite ⊛</a>
</div>
<div class="content">
  <h1 style="font-family:verdana" title="1.0.0 Luna" id="niceHeader">Invite</h1>
  <p style="font-family:verdana">You can invite the bot to your discord server to have fun with it.</p>
  <p style="font-family:verdana">Note the bot may fall offline at times because it's constantly being rewritten and getting features added to it, or Replit may decide to update the packages that Comet relies on to work.</p>
  <br/>
  <img src={{ url_for('static', filename='photoToRender/CometProfileSnip.jpg') }} alt="Comet Bestie <3">
  <br/>
  <a href="https://discord.com/api/oauth2/authorize?client_id=842461851815247903&permissions=2184708039&scope=bot" class="coolButton"><span id='niceButtonArt'>Invite</span></a>
  <br/>
  <a href="https://cometbot.emmanuelch.repl.co/" class="homeButton"><i class="fa fa-home" style="font-size:50px;color:white;"></i></a>
</div>
</body>
</html>