<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comet Versions</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <link rel="icon" href="{{ user_image }}">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
<div class="sidenav">
  <a href="https://cometbot.emmanuelch.repl.co/features">Features</a>
  <a href="https://cometbot.emmanuelch.repl.co/versions">Versions ⊛</a>
  <a href="https://cometbot.emmanuelch.repl.co/creators">Creators</a>
  <a href="https://cometbot.emmanuelch.repl.co/invite">Invite</a>
</div>
<div style="background-image: {{ user_image }};" class="content">
  <h1 style="font-family:verdana" title="1.0.0 Luna" id="niceHeader">Versions of Comet</h1>
  <p style="font-family:verdana">This page contains the link to all released versions of Comet that exist.<br>To get notified when a new release pops up, click the button below.</p>
  <a class="github-button" href="https://github.com/EmmanuelCastilloHernandez/CometBot/subscription" data-color-scheme="no-preference: dark_dimmed; light: dark_dimmed; dark: dark_dimmed;" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch EmmanuelCastilloHernandez/CometBot on GitHub">Watch Comet's Releases</a>
  <br/>
  <div id="niceSubHeader">1.0.0 Luna</div>
  <p3 style="font-family:verdana"><br>Released on May 23, 2021<br>Contributors: Garen and Emmanuel</p3>
  <br/>
  <a href="https://github.com/EmmanuelCastilloHernandez/CometBot/releases/tag/1.0.0" class="coolButton"><span id='niceButtonArt'>1.0.0 Luna on GitHub</span></a>
  <br/>
  <div id="niceSubHeader">2.0.0 Aldebaran</div>
  <p4 style="font-family:verdana"><br>Released on July 22, 2021<br>Contributors: Emmanuel</p4>
  <br/>
  <a href="https://github.com/EmmanuelCastilloHernandez/CometBot/releases/tag/2.0" class="coolButton"><span id='niceButtonArt'>2.0.0 Aldebaran on GitHub</span></a>
  <br/>
  <div id="niceSubHeader">3.0 Bellatrix</div>
  <p4 style="font-family:verdana"><br>Released on TBD<br>Current Contributors: Emmanuel</p4>
  <br/>
  <a class="coolButton"><span id='niceButtonArt'>Coming soon?</span></a>
</div>
<a href="https://cometbot.emmanuelch.repl.co/" class="homeButton"><i class="fa fa-home" style="font-size:50px;color:white;"></i></a>
</body>
</html>